<ul class="mt-2 mb-2 list-group"> 
    <li *ngFor="let task of list" class="list-group-item d-flex justify-content-between">
        <div>
            <span [ngClass]="{'text-decoration-line-through': task.isCompleted}">{{ task.description }}</span>
        </div>
        <div>
            <button (click)="complete(task.id)" class="btn btn-primary btn-sm me-2"> 
                <span *ngIf="task.isCompleted; else completed;">Incompleted</span>
                <ng-template #completed>
                    <span>Completed</span>
                </ng-template>
            </button>
            <button (click)="delete(task.id)"  class="btn btn-danger btn-sm">Delete</button>
        </div>
        
    </li>
</ul>

